<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TagMonkey.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TagMonkey.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TagMonkey.Properties.Settings>
            <setting name="LyricWikiUrl" serializeAs="String">
                <value>http://lyricwiki.org/server.php</value>
            </setting>
        </TagMonkey.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <TagMonkey.Properties.Settings>
            <setting name="LyricWikiParserRegex" serializeAs="String">
                <value>&lt;div class=\'lyricbox\'&gt;&lt;div class='rtMatcher'&gt;.*&lt;/div&gt;(?&lt;LYRICS&gt;.*)&lt;!--</value>
            </setting>
            <setting name="LastfmApiKey" serializeAs="String">
                <value>a65154a4c8dadfea92f93c0a7c94492f</value>
            </setting>
            <setting name="LastfmApiSecret" serializeAs="String">
                <value>10c98fc8a17e17085c8c24d54fa7c304</value>
            </setting>
            <setting name="MediaWikiApiBaseUrl" serializeAs="String">
                <value>http://lyrics.wikia.com/</value>
            </setting>
            <setting name="MediaWikiInstrumentalCategory" serializeAs="String">
                <value>Category:Instrumental</value>
            </setting>
        </TagMonkey.Properties.Settings>
    </userSettings>
</configuration>