<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TagMonkey.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TagMonkey.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TagMonkey.Properties.Settings>
            <setting name="LyricWikiUrl" serializeAs="String">
                <value>http://lyricwiki.org/server.php</value>
            </setting>
        </TagMonkey.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <TagMonkey.Properties.Settings>
            <setting name="LastfmApiKey" serializeAs="String">
                <value>a65154a4c8dadfea92f93c0a7c94492f</value>
            </setting>
            <setting name="LastfmApiSecret" serializeAs="String">
                <value>10c98fc8a17e17085c8c24d54fa7c304</value>
            </setting>
            <setting name="MediaWikiInstrumentalTemplate" serializeAs="String">
                <value>{{Instrumental}}</value>
            </setting>
            <setting name="MediaWikiApiGetLyricsUrl" serializeAs="String">
                <value>http://lyrics.wikia.com/api.php?action=query&amp;prop=revisions&amp;titles={0}&amp;rvprop=timestamp|user|comment|content&amp;format=xml</value>
            </setting>
            <setting name="MediaWikiApiSearchUrl" serializeAs="String">
                <value>http://lyrics.wikia.com/api.php?action=query&amp;list=search&amp;format=xml&amp;srsearch={0}</value>
            </setting>
            <setting name="LyricWikiParserRegex" serializeAs="String">
                <value>\&lt;lyrics\&gt;(?&lt;LYRICS&gt;.*)\&lt;\/lyrics\&gt;</value>
            </setting>
        </TagMonkey.Properties.Settings>
    </userSettings>
</configuration>